<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Guest Page</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
              rel="stylesheet" 
              integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
              crossorigin="anonymous" />
    </head>

    <body>
        <h2>Guest page</h2>
        <hr>
        <div>
            <p class="mt-3"><a href="/showMyLoginPage" class="btn btn-secondary">Login</a></p>
            <p class="mt-3"><a href="/admin/dashboard" class="btn btn-secondary">Dashboard (laikinai)</a></p>
        </div>
    </body>
</html>
