<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
    <h2>Update User</h2>
    <form th:action="@{'/user/update/' + ${user.id}}" th:object="${user}" method="post">
        <label for="firstName">First Name</label>
        <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
        
        <label for="username">Username</label>
        <input type="text" th:field="*{username}" id="username" placeholder="Username">
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
        
        <label for="email">Email</label>
        <input type="text" th:field="*{email}" id="email" placeholder="Email">
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        
        <input type="submit" value="Update User">   
    </form>
    <p><a href="/user/all-users">Back to Users List</a></p>
</body>
</html>
