<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vartotojai</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h2>Vartotojai</h2>
        <div class="mb-3">
            <a href="/register" class="btn btn-success">Registruotis</a>
        </div>
        <div class="mb-3">
            <a href="/admin/dashboard" class="btn btn-danger btn-sm mb-3">Valdymo skydas</a>
        </div>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Vartotojo Id</th>
                    <th>Vardas</th>
                    <th>Pavardė</th>
                    <th>El.paštas</th>
                    <th>Slapyvardis</th>
                    <th>Rolė</th>
                    <th>Receptai</th>
                    <th>Veiksmai</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="user : ${users}">
                    <tr>
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.firstName}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.role}"></td>
                        <td th:text="${user.recipeCount}"></td>
                        <td>
                            <a href="/admin/user/recipes/${user.id}" class="btn btn-info btn-sm">Receptai</a>
                            <a href="/admin/user/edit/${user.id}" class="btn btn-primary btn-sm">Pakeisti</a>
                            <a href="/admin/user/delete/${user.id}" class="btn btn-danger btn-sm" 
                               onclick="return confirm('Are you sure you want to delete this user?')">Pašalinti</a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.2/js/bootstrap.min.js"></script>
</body>
</html>
