<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{user.details.title}">User Details</title>
</head>
<body th:lang="${#locale.language}" class="container mt-5">
    <h2 th:text="#{user.details.title}">User Details</h2>
    
    <p th:text="#{user.details.fullName(${user.firstName}, ${user.lastName})}"></p>
    <p>
        <span th:text="#{user.details.username}">Username:</span>
        <span th:text="${user.username}"></span>
    </p>
    <p>
        <span th:text="#{user.details.email}">Email:</span>
        <span th:text="${user.email}"></span>
    </p>
</body>
</html>
